{# @KilikTable/_columnCell.html.twig #}

{% if not column.hidden %}
    <td {% if column.displayClass %}class="{{ column.displayClass }}"{% endif %} data-label="{{column.label}}">
        {% set cellHtml=table.value(column,row) %}
        {% if column.raw %}
            {{ cellHtml | raw }}
        {% else %}
            {{ cellHtml }}
        {% endif %}
    </td>
{% endif %}
