{# @KilikTable/_pagination.html.twig #}

{# basic pagination #}
{% if tableRenderPagination is defined %}
    <a href="#" class="btn btn-default tablePaginationButton {% if table.page < 2 %}disabled{% endif %}" data-table-page="1">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </a>
    <a href="#" class="btn btn-default tablePaginationButton {% if table.page < 2 %}disabled{% endif %}" data-table-page="{{ table.page-1 }}">
        <span class="glyphicon glyphicon-backward"></span>
    </a>
    <a href="#" class="btn btn-default tablePaginationButton {% if table.page > table.lastPage-1 %}disabled{% endif %}" data-table-page="{{ table.page+1 }}">
        <span class="glyphicon glyphicon-forward"></span>
    </a>
    <a href="#" class="btn btn-default tablePaginationButton {% if table.page == table.lastPage %}disabled{% endif %}" data-table-page="{{ table.lastPage }}">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </a>
{% endif %}
