.table-responsive {
    min-height: 300px;
}

tfoot td {
    border-top: 2px solid grey !important;
    font-weight: bold;
}

.table-loading-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.table-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #3498db;
    border-radius: 50%;
    animation: table-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3498db transparent transparent transparent;
}
.table-loader div:nth-child(1) {
    animation-delay: -0.45s;
}
.table-loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.table-loader div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes table-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
