{# @KilikTable/_columnCell.html.twig #}
{% if not column.hidden %}
    {% block tableBodyCellOuter %}
        <div {% if column.displayClass %}class="{{ column.displayClass }}"{% endif %} data-label="{{ column.label }}">
            {% block tableBodyCellInner %}
                {% set cellHtml=table.value(column,row) %}
                {% if column.raw %}
                    {{ cellHtml | raw }}
                {% else %}
                    {{ cellHtml }}
                {% endif %}
            {% endblock tableBodyCellInner %}
        </div>
    {% endblock tableBodyCellOuter %}
{% endif %}
